.cabecalho{
    background-color: var(--cor-secundaria);
    box-shadow: 5px 3px 18px rgba(1, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.cabecalho__titulo{
    font-size: 2em;
    padding: 1em 0;
    text-shadow: 2px 6px 18px rgba(1, 0, 0, 0.8);
}

.cabecalho__navegacao{
    display: flex;
    align-items: center;
    padding: 1em auto;
    margin-right: 1em;
    gap: 2em;
}
.navegacao__item{
    color: var(--cor-principal);
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 2px 6px 18px rgba(1, 0, 0, 0.4)
}

