@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('reset.css');
@import url("header.css");
@import url("sobre.css");
@import url("footer.css");

*{
    margin: 0;
}
:root{
    --fonte-principal: 'Poppins';
    --cor-principal: #3b3131;
    --cor-secundaria: rgb(54, 44, 41);
    --cor-terciaria: rgb(100, 91, 88);
    --cor-de-fundo: #bfb9b7;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-principal);
}

.hidden{
    display: none;
}